.toolbar {
    background-color: #0d1017; // Adjust as needed for your dark theme
    color: #ffffff;
    margin-bottom: 2.5rem;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.spacer {
    flex: 1 1 auto;
}

.nav-button {
    color: #a6adbc;
    margin-right: 8px;
    background-color: #3c3c3c;
    height: 3rem;
    font-size: .875rem;

    .mat-icon {
        margin-right: 4px;
    }

    &:hover {
        background-color: #6200ea; // Adjust hover color if needed
    }

    &.active {
        background-color: #6200ea; // Active button background color
        color: #ffffff;
    }
}

button {
    border-radius: 10px;
}

.logo{
    width: 80px;
    padding: .3rem;
    margin-right: 1rem
}
mat-icon {
    color: #ffffff;
}