
  <mat-toolbar color="primary" class="toolbar">
    <span class="logo">
        <img src="images/verba_icon.png" alt="Verba Icon" class="logo">
    </span>
    <span class="title">MA Rag</span>
    <span class="spacer"></span>
    
    <button mat-button routerLink="/chat" class="nav-button">
      <mat-icon>message</mat-icon> Chat
    </button>
    <button mat-button routerLink="/documents" class="nav-button">
      <mat-icon>description</mat-icon> Documents
    </button>
    <button mat-button routerLink="/overview" class="nav-button">
      <mat-icon>wb_sunny</mat-icon> Overview
    </button>
    <button mat-button routerLink="/add-documents" class="nav-button">
      <mat-icon>add_circle</mat-icon> Add Documents
    </button>
    <button mat-button routerLink="/rag" class="nav-button">
      <mat-icon>build</mat-icon> RAG
    </button>
    <button mat-button routerLink="/settings" class="nav-button">
      <mat-icon>settings</mat-icon> Settings
    </button>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>